@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  padding: 0;
  margin: 0;
}
body{
  background: url(/imgs/pic03.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  height: 100vh;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
main{
  height:100%;
}

header p{
  margin-top:10px;
}

header {
  color: rgb(255, 15, 15);
  text-transform: uppercase;
  background-color:rgba(0, 0, 0,0.8);
}

#form-container{
  border-right: 5px solid gray;
  border-bottom:5px solid gray; ;
  text-align:left ;
  padding: 20px;
  text-transform: uppercase;
  color: yellow;
  max-width: 900px;
  height: 82%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 5px 5px 8px ;
  background-color:rgba(0, 0, 0, 0.6);
  margin-top :50px;
  
}

.form-group{
  text-transform: uppercase;
  margin:1rem auto;
}

button{
  border: 5px sold gray;
  width:150px;
  height: 40px;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-style: oblique;
  background-color: antiquewhite;
  border-radius: 5px;
  cursor: pointer;
  color:crimson;
  box-shadow: 5px 5px 8px yellow;
  
}
button:hover{
  background-color: dodgerblue;
  color:red;
}

#me{
  border:5px solid gray;
  border-radius:7px;
  resize: none;
  width: 100%;

}
input[type=checkbox] + label,
input[type=radio] + label{
  margin-bottom: 0rem;
  margin-left: 8px;
} 

.gay{
margin-bottom: 10px;
}

.poe{
  text-align: center;
  
}

